<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.net.pvr1">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name=".NoteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity
            android:name=".ui.home.fragment.more.offer.OfferActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.more.privacy.TermsPrivacyActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.privilege.PrivilegeDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.commingSoon.search.CinemaSearchActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.payment.mCoupon.MCouponActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.payment.promoCode.PromoCodeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.payment.starPass.StarPassActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.payment.webView.PaymentWebActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.ticketConfirmation.TicketConfirmationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.payment.cardDetails.CardDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.more.contactUs.ContactUsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.formats.FormatsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.summery.coupons.CouponsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.watchList.WatchListActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.movieDetails.comingSoonDetails.setAlert.SetAlertActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.movieDetails.comingSoonDetails.ComingSoonDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.commingSoon.ComingSoonActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.privilege.PrivilegeLogInActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.movieDetails.nowShowing.NowShowingActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.more.bookingRetrieval.BookingRetrievalActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.giftCard.activateGiftCard.ActivateGiftCardActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.more.prefrence.PreferenceActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.profile.userDetails.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.more.offer.offerDetails.OfferDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.payment.PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.summery.SummeryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.seatLayout.SeatLayoutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.food.FoodActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bookingSession.BookingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.cinemaSession.CinemaSessionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.scanner.ScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.location.selectCity.SelectCityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.searchComingSoon.SearchComingSoonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.searchCinema.SearchCinemaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.searchHome.SearchHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.location.enableLocation.EnableLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.player.PlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.privateScreenings.PrivateScreeningsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.giftCard.GiftCardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.webView.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myBookings.MyBookingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.otpVerify.OtpVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.onBoarding.LandingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!-- <queries> -->
        <!-- <intent> -->
        <!-- <action android:name="com.google.android.youtube.api.service.START" /> -->
        <!-- </intent> -->
        <!-- </queries> -->
        <!--  -->
        <service android:name=".utils.FetchAddressIntentServices" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- // Phone Pe Cred -->
        <meta-data
            android:name="com.phonepe.android.sdk.MerchantId"
            android:value="@string/phone_pe_merchant_id" />
        <meta-data
            android:name="com.phonepe.android.sdk.AppId"
            android:value="@string/phone_pe_app_id" />
        <meta-data
            android:name="com.phonepe.android.sdk.Debuggable"
            android:value="true" />

        <activity
            android:name=".ui.payment.paytmpostpaid.PaytmPostPaidActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.payment.webView.PaytmWebActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>