<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.net.pvr1">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" /> <!-- Youtube Api initialization -->
    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.home.fragment.more.eVoucher.details.EVoucherDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.home.fragment.more.eVoucher.EVoucherActivity"
            android:exported="false" />

        <activity
            android:name=".ui.home.fragment.more.experience.ExperienceActivity"
            android:exported="false" />

        <activity
            android:name=".ui.cinemaSession.cinemaDetails.CinemaDetailsActivity"
            android:exported="false">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ui.home.fragment.more.offer.OfferActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ui.food.old.OldFoodActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ui.scanner.bookings.SelectBookingsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ui.home.fragment.more.offer.list.OfferListActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.more.privacy.TermsPrivacyActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.privilege.PrivilegeDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.comingSoon.search.CinemaSearchActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.payment.mCoupon.MCouponActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.payment.promoCode.PromoCodeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.payment.bankoffers.BankOffersActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.payment.bankoffers.BankOfferDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.payment.webView.PaymentWebActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.ticketConfirmation.TicketConfirmationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.payment.cardDetails.CardDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.payment.giftcardredeem.GiftCardRedeemActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.more.contactUs.ContactUsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.formats.FormatsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.summery.coupons.CouponsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.watchList.WatchListActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.movieDetails.comingSoonDetails.setAlert.SetAlertActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.movieDetails.comingSoonDetails.ComingSoonDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.comingSoon.ComingSoonActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.privilege.NonMemberActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.movieDetails.nowShowing.NowShowingMovieDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.more.bookingRetrieval.BookingRetrievalActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.giftCard.activateGiftCard.ActivateGiftCardActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.giftCard.activateGiftCard.ExpiredGiftCardActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.giftCard.activateGiftCard.CreateGiftCardActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.giftCard.activateGiftCard.AddGiftCardActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.giftCard.activateGiftCard.GiftCardPlaceOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.giftCard.GiftCardSummaryActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.more.prefrence.PreferenceActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.more.profile.userDetails.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.fragment.more.offer.offerDetails.OfferDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.payment.PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.payment.PaymentStatusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.summery.SummeryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.seatLayout.SeatLayoutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.food.FoodActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bookingSession.MovieSessionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.cinemaSession.CinemaSessionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.scanner.ScannerActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".ui.location.selectCity.SelectCityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.searchComingSoon.SearchComingSoonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.searchCinema.SearchCinemaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.searchHome.SearchHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.location.enableLocation.EnableLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.player.PlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.privateScreenings.PrivateScreeningsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.giftCard.GiftCardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.webView.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myBookings.MyBookingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myBookings.PastBookingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.otpVerify.OtpVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.onBoarding.LandingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pvrcinemas.com"
                    android:pathPrefix="/comingsoon"
                    android:scheme="https" />
                <data
                    android:host="www.pvrcinemas.com"
                    android:pathPrefix="/comingsoon"
                    android:scheme="app" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pvrcinemas.com"
                    android:pathPrefix="/cinemasd"
                    android:scheme="https" />
                <data
                    android:host="www.pvrcinemas.com"
                    android:pathPrefix="/cinemasd"
                    android:scheme="app" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pvrcinemas.net"
                    android:pathPrefix="/PSPT"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pvrcinemas.com"
                    android:pathPrefix="/PSPT"
                    android:scheme="app" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pvrcinemas.com"
                    android:pathPrefix="/PSPT"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pvrcinemas.com"
                    android:pathPrefix="/comingsoontrailer"
                    android:scheme="https" />
                <data
                    android:host="www.pvrcinemas.com"
                    android:pathPrefix="/comingsoontrailer"
                    android:scheme="app" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pvrcinemas.com"
                    android:pathPrefix="/home"
                    android:scheme="app" />
                <data
                    android:host="www.pvrcinemas.com"
                    android:pathPrefix="/home"
                    android:scheme="app" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pvrcinemas.com"
                    android:pathPrefix="/loyalty/home"
                    android:scheme="https" />
                <data
                    android:host="www.pvrcinemas.com"
                    android:pathPrefix="/loyalty/home"
                    android:scheme="app" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pvrcinemas.com"
                    android:path="/pvrcinemas.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pvrcinemas.com"
                    android:pathPrefix="/pvrcinemas.com"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.payment.paytmpostpaid.PaytmPostPaidActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.payment.mobikwik.MobikwikLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.payment.webView.PaytmWebActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.fragment.privilege.EnrollInPassportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Location Service -->
        <service android:name=".utils.FetchAddressIntentServices" /> <!-- Network Service -->
        <service android:name=".utils.BroadcastService" /> <!-- Network Service -->
        <receiver
            android:name=".utils.NetworkReceiver"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- // Phone Pe Cred -->
        <meta-data
            android:name="com.phonepe.android.sdk.MerchantId"
            android:value="@string/phone_pe_merchant_id" />
        <meta-data
            android:name="com.phonepe.android.sdk.AppId"
            android:value="@string/phone_pe_app_id" />
        <meta-data
            android:name="com.phonepe.android.sdk.Debuggable"
            android:value="true" /> <!-- // Push Action manager -->
        <receiver
            android:name=".utils.sfmc.SFMCActionReceiver"
            android:exported="true" /> <!-- // Message Service for SFMC -->
        <service
            android:name=".utils.sfmc.MyFcmMessageListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- //IS ACTIVITY -->
        <activity
            android:name="com.evergage.android.EvergageActivity"
            android:exported="true" />
    </application>

</manifest>